.background {
    -fx-background-color: transparent;
    -fx-background-image: url("appIcon.jpg");
}

.main-button {
    -fx-text-fill: black;
    -fx-font-family: 'Arial';
    -fx-font-size: 18px;
    -fx-pref-height: 41;
    -fx-padding: 5 25 5 25;
    -fx-border-width: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 2);
    -fx-translate-y: 0px;
    -fx-cursor: HAND;
    -fx-border-color: white;
    -fx-background-color: rgba(255,255,255,0.25);
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}
.main-button:hover {
    -fx-translate-y: -2px;
}
.main-button:pressed {
    -fx-translate-y: 0px;
}

.task-hbox {
    -fx-spacing: 5.0;
    -fx-pref-width: 140.0;
}

.checkbox {
    -fx-border-width: 1.5;
    -fx-text-fill: transparent;
    -fx-padding: 2 5 2 5;
    -fx-cursor: HAND;
    -fx-border-color: white;
    -fx-background-color: rgba(255,255,255,0.25);
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}
.checkbox:hover {
    -fx-border-color: #999999;
}
.checkbox:pressed {
    -fx-background-color: #e6e6e6;
}

.checkbox.completed {
    -fx-background-color: #24a752;
    -fx-border-color: #24a752;
    -fx-text-fill: white;
    -fx-border-width: 1.5;
}
.checkbox.completed:hover {
    -fx-background-color: #1f9348;
    -fx-border-color: #1f9348;
}
.checkbox.completed:pressed {
    -fx-background-color: #1b7e3e;
    -fx-border-color: #1b7e3e;
}

.task-event-label {
    -fx-font-family: 'Arial';
    -fx-font-weight: Bold;
    -fx-font-size: 16.0;
    -fx-max-width: 90.0;
    -fx-wrap-text: true;
    -fx-cursor: HAND;
    -fx-translate-y: 2px;
    -fx-text-fill: black;
}

.event-vbox {
    -fx-pref-width: 140.0;
    -fx-spacing: 5.0;
}

.event-data-label {
    -fx-alignment: CENTER;
    -fx-pref-height: 20.0;
    -fx-pref-width: 78.0;
    -fx-text-overrun: CLIP;
    -fx-font-family: 'Arial';
    -fx-font-size: 12.0;
    -fx-text-fill: black;
    -fx-padding: 2 7 2 7;
    -fx-border-color: white;
    -fx-background-color: rgba(255,255,255,0.25);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.event-data-hbox {
    -fx-alignment: CENTER;
    -fx-spacing: 5.0;
    -fx-pref-height: 0;
    -fx-pref-width: 140.0;
}

.line {
    -fx-stroke: white;
}

.day-label {
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-font-family: 'Arial';
    -fx-font-weight: Bold;
    -fx-font-size: 20px;
}

.monday-label {
    -fx-background-color: #DD1C1C;
}
.tuesday-label {
    -fx-background-color: #DD901C;
}
.wednesday-label {
    -fx-background-color: #24A787;
}
.thursday-label {
    -fx-background-color: #1C5EDD;
}
.friday-label {
    -fx-background-color: #941cdd;
}
.weekend-label {
    -fx-background-color: #DD1C79;
}

.week-name-label {
    -fx-text-fill: black;
    -fx-border-width: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 15, 0, 0, 2);
    -fx-border-color: white;
    -fx-background-color: rgba(255,255,255,0.25);
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

.overview-hbox {
    -fx-border-color: white;
    -fx-background-color: rgba(255,255,255,0.25);
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

.overview-label {
    -fx-text-fill: black;
}

.welcome-background {
    -fx-background-color: white;
}

.welcome-label {
    -fx-text-fill: black;
}

.createnew-background {
    -fx-background-color: white;
}

.createnew-label {
    -fx-text-fill: black;
}

.details-label {
    -fx-font-family: 'Arial';
    -fx-font-weight: Bold;
    -fx-font-size: 18.0px;
    -fx-wrap-text: false;
    -fx-translate-y: 4px;
    -fx-text-fill: black;
}

.details-name-text-box {
    -fx-background-color: #E8E8E8;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-font-family: 'Arial';
    -fx-font-size: 18px;
    -fx-highlight-fill: transparent;
    -fx-highlight-text-fill: black;
    -fx-cursor: DEFAULT;
}
.details-name-text-box.editing{
    -fx-background-color: transparent;
    -fx-background-radius: 8;
    -fx-border-color: #bfbfbf;
    -fx-border-radius: 8;
    -fx-border-width: 2;
    -fx-highlight-fill: black;
    -fx-highlight-text-fill: white;
    -fx-cursor: TEXT;
}
.details-name-text-box.editing:hover {
    -fx-border-color: #858585;
}
.details-name-text-box.editing:focused {
    -fx-border-color: black;
}

.details-description-text-area {
    -fx-background-color: transparent;
    -fx-background-radius: 8;
    -fx-wrap-text: true;
    -fx-font-family: 'Arial';
    -fx-font-size: 18px;
    -fx-padding: 0;
    -fx-highlight-fill: transparent;
    -fx-highlight-text-fill: black;
    -fx-cursor: DEFAULT;
}
.details-description-text-area.editing {
    -fx-highlight-fill: black;
    -fx-highlight-text-fill: white;
    -fx-cursor: TEXT;
}
.details-description-text-area .content {
    -fx-background-color: #E8E8E8;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-cursor: DEFAULT;
}
.details-description-text-area.editing .content{
    -fx-background-color: transparent;
    -fx-background-radius: 8;
    -fx-border-color: #bfbfbf;
    -fx-border-radius: 8;
    -fx-border-width: 2;
    -fx-cursor: TEXT;
}
.details-description-text-area.editing:hover .content{
    -fx-border-color: #858585;
}
.details-description-text-area.editing:focused .content{
    -fx-border-color: black;
}
details-description-text-area .scroll-bar {
    -fx-pref-width: 0;
    -fx-max-width: 0;
}

.details-time-text-box {

}

.details-duration-text-box {

}

.status-text-label {
    -fx-background-color: #E8E8E8;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-font-family: 'Arial';
    -fx-font-size: 18px;
    -fx-highlight-fill: transparent;
    -fx-highlight-text-fill: black;
    -fx-cursor: DEFAULT;
}

.delete-button {
    -fx-text-fill: white;
    -fx-font-family: 'Arial';
    -fx-font-size: 18px;
    -fx-pref-height: 41;
    -fx-background-color: #DD1C1C;
    -fx-padding: 5 25 5 25;
    -fx-background-radius: 8;
    -fx-border-color: #861414;
    -fx-border-radius: 8;
    -fx-border-width: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 2);
    -fx-translate-y: 0px;
    -fx-cursor: HAND;
}
.delete-button:hover {
    -fx-background-color: #CE1A1A;
    -fx-translate-y: -2px;
}
.delete-button:pressed {
    -fx-background-color: #B71717;
    -fx-translate-y: 0px;
}

.day-split-menu {
    -fx-text-fill: black;
    -fx-font-family: 'Arial';
    -fx-font-size: 18px;
    -fx-pref-height: 41;
    -fx-background-color: #E8E8E8;
    -fx-background-radius: 8;
    -fx-border-color: #B3B3B3;
    -fx-border-radius: 8;
    -fx-border-width: 1;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 2);*/
}
.day-split-menu:hover {
    -fx-translate-y: 0px;
}
.day-split-menu:pressed {
    -fx-translate-y: 0px;
}
.split-menu-button .label {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-padding: 5 25 5 25;
    -fx-background-radius: 8;
}
.split-menu-button .arrow-button {
    -fx-background-color: #E8E8E8;
    -fx-background-radius: 0 8 8 0;
    -fx-cursor: HAND;
}
.split-menu-button .arrow-button:hover {
    -fx-background-color: #D6D6D6;
}
.split-menu-button .arrow-button:pressed {
    -fx-background-color: #C4C4C4;
}

.day-split-menu-item {
    -fx-background-color: #E8E8E8;
}
.day-split-menu-item:hover {
    -fx-background-color: #D6D6D6;
}
.day-split-menu-item:pressed {
    -fx-background-color: #C4C4C4;
}